<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改成品检测')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-jcfinprdt-edit" th:object="${jcFinPrdt}">
            <input name="cpjcbId" th:field="*{cpjcbId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">成品检测编号：</label>
                <div class="col-sm-8">
                    <input name="cpjcNum" th:field="*{cpjcNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">成品检测名称：</label>
                <div class="col-sm-8">
                    <input name="cpjcName" th:field="*{cpjcName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">成品编号：</label>
                <div class="col-sm-8">
                    <input name="cpNum" th:field="*{cpNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">成品名称：</label>
                <div class="col-sm-8">
                    <input name="cpName" th:field="*{cpName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">销售订单编号：</label>
                <div class="col-sm-8">
                    <input name="saleOrderNum" th:field="*{saleOrderNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">销售订单名称：</label>
                <div class="col-sm-8">
                    <input name="saleOrderName" th:field="*{saleOrderName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">排产单编号：</label>
                <div class="col-sm-8">
                    <input name="pcdNum" th:field="*{pcdNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">排产单名称：</label>
                <div class="col-sm-8">
                    <input name="pcdName" th:field="*{pcdName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">不良品原因：</label>
                <div class="col-sm-8">
                    <input name="badPrdtName" th:field="*{badPrdtName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="note" th:field="*{note}" class="form-control" type="text">
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl" th:field="*{yl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl2" th:field="*{yl2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl3" th:field="*{yl3}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl4" th:field="*{yl4}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl5" th:field="*{yl5}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留int：</label>
                <div class="col-sm-8">
                    <input name="ylint1" th:field="*{ylint1}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留int：</label>
                <div class="col-sm-8">
                    <input name="ylint2" th:field="*{ylint2}" class="form-control" type="text">
                </div>
            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "QualityMan/jcfinprdt";
        $("#form-jcfinprdt-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-jcfinprdt-edit').serialize());
            }
        }
    </script>
</body>
</html>