<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.process.mapper.SpTableManagerMapper">
    
    <resultMap type="SpTableManager" id="SpTableManagerResult">
        <result property="id"    column="id"    />
        <result property="tableName"    column="table_name"    />
        <result property="tableDesc"    column="table_desc"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUsername"    column="create_username"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUsername"    column="update_username"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="permission"    column="permission"    />
    </resultMap>

    <sql id="selectSpTableManagerVo">
        select id, table_name, table_desc, create_time, create_username, update_time, update_username, is_deleted, permission from sp_table_manager
    </sql>

    <select id="selectSpTableManagerList" parameterType="SpTableManager" resultMap="SpTableManagerResult">
        <include refid="selectSpTableManagerVo"/>
        <where>  
            <if test="tableName != null  and tableName != ''"> and table_name like concat('%', #{tableName}, '%')</if>
            <if test="tableDesc != null  and tableDesc != ''"> and table_desc = #{tableDesc}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="createUsername != null  and createUsername != ''"> and create_username like concat('%', #{createUsername}, '%')</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="updateUsername != null  and updateUsername != ''"> and update_username like concat('%', #{updateUsername}, '%')</if>
            <if test="isDeleted != null  and isDeleted != ''"> and is_deleted = #{isDeleted}</if>
            <if test="permission != null  and permission != ''"> and permission = #{permission}</if>
        </where>
    </select>
    
    <select id="selectSpTableManagerById" parameterType="Long" resultMap="SpTableManagerResult">
        <include refid="selectSpTableManagerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSpTableManager" parameterType="SpTableManager" useGeneratedKeys="true" keyProperty="id">
        insert into sp_table_manager
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableName != null and tableName != ''">table_name,</if>
            <if test="tableDesc != null">table_desc,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUsername != null and createUsername != ''">create_username,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUsername != null and updateUsername != ''">update_username,</if>
            <if test="isDeleted != null and isDeleted != ''">is_deleted,</if>
            <if test="permission != null">permission,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableName != null and tableName != ''">#{tableName},</if>
            <if test="tableDesc != null">#{tableDesc},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUsername != null and createUsername != ''">#{createUsername},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUsername != null and updateUsername != ''">#{updateUsername},</if>
            <if test="isDeleted != null and isDeleted != ''">#{isDeleted},</if>
            <if test="permission != null">#{permission},</if>
         </trim>
    </insert>

    <update id="updateSpTableManager" parameterType="SpTableManager">
        update sp_table_manager
        <trim prefix="SET" suffixOverrides=",">
            <if test="tableName != null and tableName != ''">table_name = #{tableName},</if>
            <if test="tableDesc != null">table_desc = #{tableDesc},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUsername != null and createUsername != ''">create_username = #{createUsername},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUsername != null and updateUsername != ''">update_username = #{updateUsername},</if>
            <if test="isDeleted != null and isDeleted != ''">is_deleted = #{isDeleted},</if>
            <if test="permission != null">permission = #{permission},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSpTableManagerById" parameterType="Long">
        delete from sp_table_manager where id = #{id}
    </delete>

    <delete id="deleteSpTableManagerByIds" parameterType="String">
        delete from sp_table_manager where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>