<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增工艺路线管理')" />

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .check-box>*{
            pointer-events:none;
        }


    </style>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content"  th:with="sfList=${@spflowbase.selectSpFlowBaseList(SpFlowBase)}">
        <form class="form-horizontal m" id="form-spflowmanager-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">流程代号：</label>
                <!--<div class="col-sm-8">
                    <input name="flow" class="form-control" type="text" required>
                </div>-->

                <div class="col-sm-8">
                    <select name="flow" class="form-control m-b flowSelect" required>
                        <option value="">《---请选择---》</option>
                        <option th:each="sfl : ${sfList}" th:text="${sfl.getFlowName()+'的流程代号为：'+sfl.getFlowNum()}" th:value="${sfl.getFlowNum()}"  th:xtms="${sfl.getFlowDesc()}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">线体描述：</label>
                <div class="col-sm-8">
                    <input name="flowDesc" class="form-control flowDesc" type="text" readonly>
                </div>
            </div>
            <div class="form-group dl">
                <label class="col-sm-3 control-label">流程绘制：</label>
                <div id="dcz">
                <div class="col-sm-8 dll" th:with="soList=${@spoper.selectSpOperList(SpOper)}">
                    <input class="haha form-control"  type="text" name="process" autocomplete="off"  readonly>
                    <label th:each="so : ${soList}" class="check-box">
                        <input class="check-input" name="process2" type="checkbox" th:value="${so.getOperDesc()}" th:text="${so.getOperDesc()}" >
                    </label>
               <!-- <label class="col-sm-3 control-label">流程绘制：</label>
                    <div class="col-sm-8" th:with="type=${@dict.getType('process_spoper')}">
                        <input class="haha form-control" name="process" type="text" th:field="*{process}">
                        <label th:each="dict : ${type}" class="check-box" >
                            <input  class="check-input"  name="process2"  type="checkbox" th:value="${dict.dictValue}" th:text="${dict.dictLabel}" th:attr="checked=${spFlowManager.process.contains(dict.dictValue)?true:false}">
                        </label>-->
                </div>
                </div>

                <button class="cz btn btn-warning btn-rounded btn-sm"><i class="fa fa-refresh"></i>&nbsp;重置</button>
                <!--<button id="gengxin">重置</button>-->
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">创建人：</label>
                <div class="col-sm-8">
                    <input name="createUsername" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">最后更新人：</label>
                <div class="col-sm-8">
                    <input name="updateUsername" class="form-control" type="text" required>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "Process/spflowmanager"
        $("#form-spflowmanager-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-spflowmanager-add').serialize());
            }
        }
        /*工序选择*/
        var checkID = []
        $('input[name="process2"]:checked').each(function(i){
            checkID[i]=$(this).val()
        })
        $('.check-box').click(
            function (e){
                var gongxu = e.target.innerText+''
                if(checkID.indexOf(gongxu) !== -1){
                    checkID.splice(checkID.indexOf(gongxu),1)
                }else{
                    checkID.push(gongxu)
                }
                var str = ''
                $.each(checkID, function (index, value) {
                    if (index === checkID.length - 1) {
                        str = str + value
                    }
                    else {
                        str = str + value + '-->'
                    }
                })
                $('.haha').attr('value', str)
            }
        )
        /*$("#gengxin").click(function(){
            // $('.haha').attr('value','')
            // console.log('````````````````````````````````')
            // $("input[name='process2']:checkbox").prop("checked",false)
            // console.log('··········································')
            // checkID=[]
           //$(" .dl").load(location.href+".dl");
           $("#process2").html("");
            //console.log(location.href)
            // $('.dl').text("")
           // console.log($('input[name="process2"]'))
            /!*console.log($(".check-box"))
            $(".check-box").each(function () {
                this.checked=false
            })*!/
           /!* checkID=[]*!/
        })*/
        $(".cz").click(function(){
            window.location.reload()
              //$("#dcz").load(location.href+" #dcz>*","")
         /*   //获取父级窗口
            var _body = window.parent;
            //获取父级窗口中的对象iframe1
            var _iframe1=_body.document.getElementById('dcz');
            //刷新对象iframe1
            _iframe1.contentWindow.location.reload(true);
*/
        });
        /*setInterval(function() {
            $("#dcz").load(location.href+" #dcz>*","")
            //$(" .dl").empty();
        }, 10000);*/
        //每隔1s自动刷新
        // (location.href+" #dq>*","" )后一个id选择器一定要加个空格，后面*和"",也要加上，不然页面就乱。


        /*获取select里编号的值显示至出来*/
        $(".flowSelect").change(function(){
            var xtms = $(this).children('option:selected').attr('xtms')
            /*console.log('````````````````````````')
            console.log(xtms)*/
            $(".flowDesc").val(xtms)

        })
    </script>
</body>
</html>