<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改出库单')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-stockout-edit" th:object="${stockOut}">
            <input name="ckId" th:field="*{ckId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">出库单号：</label>
                <div class="col-sm-8">
                    <input name="stockoNum" th:field="*{stockoNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出库单名称：</label>
                <div class="col-sm-8">
                    <input name="stockoName" th:field="*{stockoName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出库材料名称：</label>
                <div class="col-sm-8">
                    <input name="stockoMateName" th:field="*{stockoMateName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出库材料数量：</label>
                <div class="col-sm-8">
                    <input name="stockoMateNum" th:field="*{stockoMateNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">计量单位：</label>
                <div class="col-sm-8">
                    <input name="stockoMateUnit" th:field="*{stockoMateUnit}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">生产订单编号：</label>
                <div class="col-sm-8">
                    <input name="scOrderNum" th:field="*{scOrderNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">生产订单名称：</label>
                <div class="col-sm-8">
                    <input name="scOrderName" th:field="*{scOrderName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">采购订单编号：</label>
                <div class="col-sm-8">
                    <input name="cgddNum" th:field="*{cgddNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">采购订单名称：</label>
                <div class="col-sm-8">
                    <input name="cgddName" th:field="*{cgddName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">BOM编号：</label>
                <div class="col-sm-8">
                    <input name="bomYlId" th:field="*{bomYlId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">bom物料名称：</label>
                <div class="col-sm-8">
                    <input name="bomMatName" th:field="*{bomMatName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">bom规格型号：</label>
                <div class="col-sm-8">
                    <input name="bomModelType" th:field="*{bomModelType}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">bom色号：</label>
                <div class="col-sm-8">
                    <input name="bomColorNum" th:field="*{bomColorNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">bom材质：</label>
                <div class="col-sm-8">
                    <input name="bomMaterial" th:field="*{bomMaterial}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">bom规格单位：</label>
                <div class="col-sm-8">
                    <input name="bomSpetUnits" th:field="*{bomSpetUnits}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">bom生产用量：</label>
                <div class="col-sm-8">
                    <input name="bomPudtUseNum" th:field="*{bomPudtUseNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">bom计价单位：</label>
                <div class="col-sm-8">
                    <input name="bomValuUnits" th:field="*{bomValuUnits}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供货单位：</label>
                <div class="col-sm-8">
                    <input name="supplyUnit" th:field="*{supplyUnit}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供货日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="supplyDate" th:value="${#dates.format(stockOut.supplyDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">交货日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="deliveryDate" th:value="${#dates.format(stockOut.deliveryDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供货联系人：</label>
                <div class="col-sm-8">
                    <input name="supplyPerple" th:field="*{supplyPerple}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供货商联系电话：</label>
                <div class="col-sm-8">
                    <input name="supplyPhoneNum" th:field="*{supplyPhoneNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">收货地址：</label>
                <div class="col-sm-8">
                    <input name="receiptAddress" th:field="*{receiptAddress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">销售订单号：</label>
                <div class="col-sm-8">
                    <input name="saleOrderNum" th:field="*{saleOrderNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">销售订单名称：</label>
                <div class="col-sm-8">
                    <input name="saleOrderName" th:field="*{saleOrderName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="note" th:field="*{note}" class="form-control" type="text">
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl" th:field="*{yl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl2" th:field="*{yl2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl3" th:field="*{yl3}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl4" th:field="*{yl4}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl5" th:field="*{yl5}" class="form-control" type="text">
                </div>
            </div>-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">总库存数量：</label>
                <div class="col-sm-8">
                    <input name="ylint" th:field="*{ylint}" class="form-control" type="text">
                </div>
            </div>
           <!-- <div class="form-group">
                <label class="col-sm-3 control-label">预留int：</label>
                <div class="col-sm-8">
                    <input name="ylint2" th:field="*{ylint2}" class="form-control" type="text">
                </div>
            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "Stock/stockout";
        $("#form-stockout-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-stockout-edit').serialize());
            }
        }

        $("input[name='supplyDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='deliveryDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>