<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改实物ID 信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-phsyidinfo-edit" th:object="${stockPhysidInfo}">
            <input name="phsyidInfoId" th:field="*{phsyidInfoId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">采购方总部编码：</label>
                <div class="col-sm-8">
                    <input name="buyerHqCode" th:field="*{buyerHqCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供应商编码：</label>
                <div class="col-sm-8">
                    <input name="vendorCode" th:field="*{vendorCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供应商名称：</label>
                <div class="col-sm-8">
                    <input name="vendorName" th:field="*{vendorName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">实物ID：</label>
                <div class="col-sm-8">
                    <input name="physId" th:field="*{physId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">采购订单行项目ID：</label>
                <div class="col-sm-8">
                    <input name="purcOrderItenId" th:field="*{purcOrderItenId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">实物生产状态：</label>
                <div class="col-sm-8">
                    <select name="physPrdtStatus" class="form-control m-b" th:with="type=${@dict.getType('phsyprdt_status')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{physPrdtStatus}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据来源：</label>
                <div class="col-sm-8">
                    <select name="dataSource" class="form-control m-b" th:with="type=${@dict.getType('phsyid_info_datasour')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{dataSource}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">来源数据创建时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="sourdataCretTime" th:value="${#dates.format(stockPhysidInfo.sourdataCretTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="note" th:field="*{note}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据拥有方：</label>
                <div class="col-sm-8">
                    <input name="dataOwner" th:field="*{dataOwner}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据可见方：</label>
                <div class="col-sm-8">
                    <input name="dataVisible" th:field="*{dataVisible}" class="form-control" type="text">
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl" th:field="*{yl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl2" th:field="*{yl2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl3" th:field="*{yl3}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl4" th:field="*{yl4}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="yl5" th:field="*{yl5}" class="form-control" type="text">
                </div>
            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "Stock/phsyidinfo";
        $("#form-phsyidinfo-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-phsyidinfo-edit').serialize());
            }
        }

        $("input[name='sourdataCretTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>