<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('实物ID 信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>采购方总部编码：</label>
                                <input type="text" name="buyerHqCode"/>
                            </li>
                            <li>
                                <label>供应商编码：</label>
                                <input type="text" name="vendorCode"/>
                            </li>
                            <li>
                                <label>供应商名称：</label>
                                <input type="text" name="vendorName"/>
                            </li>
                            <li>
                                <label>实物ID：</label>
                                <input type="text" name="physId"/>
                            </li>
                            <li>
                                <label>采购订单行项目ID：</label>
                                <input type="text" name="purcOrderItenId"/>
                            </li>
                            <li>
                                <label>实物生产状态：</label>
                                <select name="physPrdtStatus" th:with="type=${@dict.getType('phsyprdt_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>数据来源：</label>
                                <select name="dataSource" th:with="type=${@dict.getType('phsyid_info_datasour')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>来源数据创建时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginSourdataCretTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endSourdataCretTime]"/>
                            </li>
                            <li>
                                <label>备注：</label>
                                <input type="text" name="note"/>
                            </li>
                            <li>
                                <label>数据拥有方：</label>
                                <input type="text" name="dataOwner"/>
                            </li>
                            <li>
                                <label>数据可见方：</label>
                                <input type="text" name="dataVisible"/>
                            </li>
                           <!-- <li>
                                <label>预留：</label>
                                <input type="text" name="yl"/>
                            </li>
                            <li>
                                <label>预留：</label>
                                <input type="text" name="yl2"/>
                            </li>
                            <li>
                                <label>预留：</label>
                                <input type="text" name="yl3"/>
                            </li>
                            <li>
                                <label>预留：</label>
                                <input type="text" name="yl4"/>
                            </li>
                            <li>
                                <label>预留：</label>
                                <input type="text" name="yl5"/>
                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="Stock:phsyidinfo:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="Stock:phsyidinfo:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="Stock:phsyidinfo:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="Stock:phsyidinfo:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('Stock:phsyidinfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('Stock:phsyidinfo:remove')}]];
        var physPrdtStatusDatas = [[${@dict.getType('phsyprdt_status')}]];
        var dataSourceDatas = [[${@dict.getType('phsyid_info_datasour')}]];
        var prefix = ctx + "Stock/phsyidinfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "实物ID 信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'phsyidInfoId',
                    title: '实物ID信息ID',
                    visible: false
                },
                {
                    field: 'buyerHqCode',
                    title: '采购方总部编码'
                },
                {
                    field: 'vendorCode',
                    title: '供应商编码'
                },
                {
                    field: 'vendorName',
                    title: '供应商名称'
                },
                {
                    field: 'physId',
                    title: '实物ID'
                },
                {
                    field: 'purcOrderItenId',
                    title: '采购订单行项目ID'
                },
                {
                    field: 'physPrdtStatus',
                    title: '实物生产状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(physPrdtStatusDatas, value);
                    }
                },
                {
                    field: 'dataSource',
                    title: '数据来源',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(dataSourceDatas, value);
                    }
                },
                {
                    field: 'sourdataCretTime',
                    title: '来源数据创建时间'
                },
                {
                    field: 'note',
                    title: '备注'
                },
                {
                    field: 'dataOwner',
                    title: '数据拥有方'
                },
                {
                    field: 'dataVisible',
                    title: '数据可见方'
                },
                /*{
                    field: 'yl',
                    title: '预留'
                },
                {
                    field: 'yl2',
                    title: '预留'
                },
                {
                    field: 'yl3',
                    title: '预留'
                },
                {
                    field: 'yl4',
                    title: '预留'
                },
                {
                    field: 'yl5',
                    title: '预留'
                },*/
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.phsyidInfoId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.phsyidInfoId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>